
body {
   background-color: rgb(86, 86, 136);
   font-family: "Lato", sans-serif;
  }

  .clear:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .myDIV {
    position: fixed;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    top: 80px;
    left: 0;
    background-color: transparent; 
    pointer-events: none;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    pointer-events:auto;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: fixed;
    top: 100px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* Topbar */

  .topbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .topbar p {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .main {
    margin-top: 100px;
    margin-bottom: 30px;
  }

  /*Hexagonal Grid*/

  #grid {
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding: 0; /* Clears unordered list default of 40px */
  }

  #grid li {
    list-style-type: none;
    position: relative;
    z-index: -1;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    background: #f1f0f1;
    overflow: hidden;
    visibility: hidden;
  }

  #grid li * {
    visibility: visible;
  }

  #grid li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fafafa;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
  }

  #grid li:nth-child(3n+2) {
    margin: 0 1%;
  }

  #grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }

  #grid li:nth-child(6n+4) { 
    margin-left: 0.5%;
  }

  /* BottomBar */

  .bottombar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .bottombar p {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }

  /* Button */
  
  .bottombar button {
    float: none;
    background-color: #333;
    border: none;
    color: #f2f2f2;
    padding: 30px 32px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }

  .bottombar button:hover {
    background-color:#555;
  }