/* -------- Site CSS -------- */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }

/* --- New Navbar CSS --- */
.navbar {
  width: 100%;
  height:40px;
  line-height: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: linear-gradient(top,  #3D61A9,  #29487D);
  background: -ms-linear-gradient(top,  #3D61A9,  #29487D);
  background: -webkit-gradient(linear, left top, left bottom, from(#3D61A9), to(#29487D));
  background: -moz-linear-gradient(top,  #3D61A9,  #29487D);
  position:relative;
  z-index:999;
}

.navbar li {
  padding: 5px;
  float: left;
  position: relative;
  list-style: none;
}

#login {
  float: right;
}

.navbar a, .logindrpdwn:hover, .logindrpdwn {
  font-weight: bold;
  font-family: georgia;
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
  padding: 6px 20px;
  margin: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.navbar .active a, .navbar li:hover > a {
  background: #6E5E0E;
  background: linear-gradient(top,  #29487D,  #3D61A9);
  background: -ms-linear-gradient(top,  #29487D,  #3D61A9);
  background: -webkit-gradient(linear, left top, left bottom, from(#29487D), to(#3D61A9));
  background: -moz-linear-gradient(top,  #29487D,  #3D61A9);
}

.navbar ul a:hover , .navbar ul{
  background: #0399D4 !important;
  background: linear-gradient(top,  #29487D,  #3D61A9) !important;
  background: -ms-linear-gradient(top,  #29487D,  #3D61A9) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#29487D), to(#3D61A9)) !important;
  background: -moz-linear-gradient(top,  #29487D,  #3D61A9) !important; 
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.navbar ul li {
  float: none;
  margin: 0;
  padding: 0;
}

.navbar li:hover > ul {
  display: block;
}

.navbar ul a {
  padding:10px 0px 10px 15px;
  font-size:12px;
  font-style:normal;
  font-family:georgia;
  font-weight: normal;
  text-shadow: 0px 0px 0px #FFFFFF;
}

/* ---/// logindrpdwn (LOGIN DROPDOWN) ///--- */
/*
https://jsfiddle.net/d5r6y5xw/1/
When the 'Your dropdown text' div gets hovered, we change the display property of the dropdown
content in order for it to be shown
*/
.logindrpdwn {
  margin: 5px;
}

.logindrpdwn:hover .logindrpdwn-window {
  display: block;
}

.logindrpdwn-window {
  display: none;
  position: absolute;
  left:0px;
  top:29px;
  background: linear-gradient(top,  #3D61A9,  #29487D);
  background: -ms-linear-gradient(top,  #3D61A9,  #29487D);
  background: -webkit-gradient(linear, left top, left bottom, from(#3D61A9), to(#29487D));
  background: -moz-linear-gradient(top,  #3D61A9,  #29487D);
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  border:1px solid black;
}

li a, .logindrpdwn{
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  top: 1px;
}

.logindrpdwn:hover{
  background: linear-gradient(top,  #29487D,  #3D61A9) !important;
  background: -ms-linear-gradient(top,  #29487D,  #3D61A9) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#29487D), to(#3D61A9)) !important;
  background: -moz-linear-gradient(top,  #29487D,  #3D61A9) !important;
  top: 5px;
}