html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(221, 221, 221);
  background: linear-gradient(0deg,rgba(255,255,255) 0%, rgba(56,79,125,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
header {
  text-align: center;
}
/* ----------------------------------------------------------------------------- */
/* Navbar container */
.navbar {
overflow: hidden;
background: linear-gradient(top,  #3D61A9,  #29487D);
background: -ms-linear-gradient(top,  #3D61A9,  #29487D);
background: -webkit-gradient(linear, left top, left bottom, from(#3D61A9), to(#29487D));
background: -moz-linear-gradient(top,  #3D61A9,  #29487D);
}

/* Links inside the navbar */
.navbar a {
float: left;
font-size: 16px;
font-family: Georgia;
font-weight: bold;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* The dropdown container */
.dropdown {
float: left;
overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
font-size: 16px;
font-family: Georgia;
font-weight: bold;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
background-color: rgb(83, 189, 255);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
font-family: Georgia;
font-weight: bold;
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
float: none;
color: white;
font-family: Georgia;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
background: linear-gradient(top,  #3D61A9,  #29487D);
background: -ms-linear-gradient(top,  #3D61A9,  #29487D);
background: -webkit-gradient(linear, left top, left bottom, from(#3D61A9), to(#29487D));
background: -moz-linear-gradient(top,  #3D61A9,  #29487D); 
}

/* Add a background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: rgb(83, 189, 255);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

/*Login Drop Down*/

.logindropdown-content {
display: none;
position: absolute;
left:auto;
top:auto;
background: linear-gradient(top,  #3D61A9,  #29487D);
background: -ms-linear-gradient(top,  #3D61A9,  #29487D);
background: -webkit-gradient(linear, left top, left bottom, from(#3D61A9), to(#29487D));
background: -moz-linear-gradient(top,  #3D61A9,  #29487D); 
min-width: 160px;
padding: 12px 16px;
z-index: 1;
border:1px solid black;
}

/* Links inside the dropdown */
.logindropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
background-color: lightblue;
}

/* Show the dropdown menu on hover */
.dropdown:hover .logindropdown-content {
display: block;
}

label {
color: white;
}

/* ----------------------------------------------------------------------------- */

img {
max-width: 100%;
height: auto;
width: auto\9; /* ie8 */
}

/* ----------------------------------------------------------------------------- */

  /* Button */
  .button {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
 .button:hover {
    background-color: darkred;
  }